@model PA_PROYECTO_ESPIGADORADA.Models.SecurityModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="d-flex justify-content-center align-items-center vh-100 w-100 bg-light" style="overflow: hidden; margin: 0; padding: 0;">
    <div class="bg-white p-5 rounded-4 shadow-lg w-100 mx-auto" style="max-width: 450px;">

        <h2 class="text-primary fw-bold mb-4 text-center">Cambiar Contraseña</h2>

        @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new { id = "FormChangePassword" }))
        {
            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.NewPassword, new
                {
                    @class = "form-control bg-light",
                    @placeholder = "Contraseña Nueva",
                    @autocomplete = "new-password",
                    @type = "password"
                })
                <label>Contraseña Nueva</label>
            </div>

            <div class="form-floating mb-4">
                @Html.TextBoxFor(m => m.ConfirmPassword, new
                {
                    @class = "form-control bg-light",
                    @placeholder = "Confirmar Contraseña",
                    @autocomplete = "new-password",
                    @type = "password"
                })
                <label>Confirmar Contraseña</label>
            </div>

            <div class="d-grid mb-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill fw-bold">Actualizar Contraseña</button>
            </div>

            <div class="text-center mt-3">
                <a href="@Url.Action("Index", "Home")" class="text-primary small text-decoration-none">Cancelar y volver</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Template/js/functions/changePassword.js"></script>
}